@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap');
@import "assets/css/vendor.css";
@import "assets/css/style.css";
@import "assets/css/responsive.css";

body{
  font-family: 'Poppins' !important;
}
.homeLoader{
  position: absolute;
  left: 50%;
  top : 50%;
  transform: translate(-50%,-50%);
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.gradient-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.3)), url('assets/img/bg_2.jpg');
  height: 100vh;
  overflow: hidden;
}

input {
  font-family: 'Poppins';
  font-size: 13px;
    background: #fff;
}

.step__head{
    height: 200px;
    margin-bottom: 50px;
}


.custom-geo-box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
   box-shadow: 0 2px 6px rgba(0,0,0,.2);
  padding: 20px;
}

@media (max-width: 992px) {
  .custom-geo-box{
    width: 350px;
  }

}


.empty__box{
  width: 30%;
  background: #D8B438;
  color: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.3);
  text-align: center;
  padding: 40px;
  margin : 0 auto;
  margin-top: 100px;
}

.payment__box{
  background: #fff;
  padding: 20px;
}


.thin {
  font-weight:400;
}
.small {
  font-size:12px;
  font-size:.8rem;
}
.half-input-table {
  border-collapse:collapse;
  width:100%;
}
.half-input-table td:first-of-type {
  width:50%;
}
.window {
  height:540px;
  width: 100%;
  background:#fff;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  z-index:10;
}
.order-info {
  height:100%;
  width:50%;
  padding-left:25px;
  padding-right:25px;
  box-sizing:border-box;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  overflow-y: scroll;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  position:relative;
}
.price {
  bottom:0px;
  position:absolute;
  right:0px;
  color:#4488dd;
}
.order-table td:first-of-type {
  width:25%;
}
.order-table {
  position:relative;
}
.line {
  height:1px;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  background:#ddd;
}
.order-table td:last-of-type {
  vertical-align:top;
  padding-left:25px;
}
.order-info-content {
  table-layout:fixed;

}

.full-width {
  width:100%;
}
.pay-btn {
  border:none;
  background:#D8B438;
  line-height:2em;
  font-size:19px;
  font-size:1.2rem;
  color:#fff;
  cursor:pointer;
  position:absolute;
  bottom:25px;
  border: 1px solid #FFF;
  width:calc(100% - 50px);
  -webkit-transition:all .2s ease;
  transition:all .2s ease;
}
.pay-btn:hover {
  background:#D8B438;
  color:#eee;
  -webkit-transition:all .2s ease;
  transition:all .2s ease;
}

.total {
  margin-top:25px;
  font-size:20px;
  font-size:1.3rem;
  position:absolute;
  bottom:30px;
  right:27px;
  left:35px;
}
.dense {
  line-height:1.2em;
  font-size:16px;
  font-size:1rem;
}
.input-field {
  background:rgba(255,255,255,0.1);
  margin-bottom:10px;
  margin-top:3px;
  line-height:1.5em;
  font-size:20px;
  font-size:1.3rem;
  border:none;
  padding:5px 10px 5px 10px;
  color:#fff;
  box-sizing:border-box;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.credit-info {
  height:100%;
  width:50%;
  color:#eee;
  background: #101010;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  font-size:14px;
  font-size:.9rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-sizing:border-box;
  padding-left:25px;
  padding-right:25px;
  position:relative;
}

.credit-card-image {
  display:block;
  max-height:80px;
  margin-left:auto;
  margin-right:auto;
  margin-top:35px;
  margin-bottom:15px;
}
.credit-info-content {
  margin-top:25px;
  -webkit-flex-flow:column;
  -ms-flex-flow:column;
  flex-flow:column;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:100%;
}
@media (max-width: 600px) {
  .window {
    width: 100%;
    height: 100%;
    display:block;
    border-radius:0px;
  }
  .order-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .credit-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .pay-btn {
    border-radius:0px;
  }
}

.pricereview{
  font-size: 100px;
  text-align: center;
  color: #D8B438;
  margin-top: 150px;

}

.success__icon{
  font-size: 100px;
  color: #42e871 !important;
}

.round_box{
  padding: 20px;
}

.secondHeader{
  height: 250px;
  background: #000;
  text-align: center;
}
.secondHeader h1{
  padding: 100px;
  color: #D8B438;
   text-transform: uppercase;
}

.tabs-setting{
  padding: 20px;
  background: #fff;
}

.about__ava__box{
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.about__ava__box img{
  margin-bottom: 10px;
  border-radius: 50%;
}

.about__ava__box p strong{
  padding-left: 20px;
}

.rating_five{
  text-align: center;
  color: #D8B438;
}

.logoutbtn{
  background: none;
  border: none;
}