@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('fabl.css');


header{
    margin-bottom: 200px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
    position: fixed;
    left: 0;
    background: #fff;
    top: 0;
    width:100%;
    z-index: 1;
}
.logo img{
    height:75px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    height: 70px;
    line-height: 73px;
    margin: 3px;
    padding: 10px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#585b5b;
    letter-spacing: 1px;
}
.hey{
    color:#ca9b0f;
    font-weight: 500;
    font-size: 0.9rem;
    border-bottom: 2px solid #ca9b0f;
}
nav ul li a:hover{
    color: #ca9b0f;
    border-bottom: 4px solid #ca9b0f;
    text-decoration-line: underline;
    transition: all ease 0.2s;
}



/*.homepage{*/
    /*width: 100%;*/
    /*margin: 0;*/
    /*height: 250px;*/
    /*background: url('images/bg_1.jpg');*/
    /*background-size: cover;*/
    /*overflow: hidden;*/
/*}*/

.highlight {
    padding-left: 10px;
}
.highlight button{
    background: none;
    border: none;
   margin-left: 20px;
    background-color: #0a7bcb;
    padding: 8px;
    border-radius: 6px;
    color: #fff;

}

.card{
    width: 100%;
    height: 200px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.dash__title{
    color: #fff;
    padding-left: 20px;
    font-family: Poppins;
}

.box-content{
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 50px;
}

.box-content form{

}

.box-content  h3, .box-content  h5{
    text-align: center;
    padding-top: 20px;
    font-family: Poppins;
    font-weight: 300;
    text-align: center;
}



.__btn{
    border: none;
    background: none;
    background: #4278c1;
    padding: 10px 0;
    width: 150px;
    color: #fff;
    text-transform: uppercase;
}

.success__icon{
    width: 180px;
    height: 180px;
    line-height: 210px;
    text-align: center;
    border-radius: 50%;
    background: #ca9b0f;
    margin: 0 auto 0;
    color: #fff;
}
.success__icon i {
    font-weight: 100;
    font-size: 50px;
}

.step__head, .step__head__inv{
    width: 100%;
    height: 200px;
    background: url("images/book.jpg");
    background-size: cover;
}

.step__head{
    width: 100%;
    height: 100% !important;
}

.step__head__inv{
    background: url("images/inv.jpg");
}

.step__list{
    margin: 10px;
}
.step__list .step__list__service{
    display: flex;
    padding-top: 15px;
    float: right;
    text-align: right;
}

.step__list__price{
    font-size: 18px;
    font-weight: bold;
    font-family: Poppins;
}

.step__list__add{
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border: 2px solid #101010;
    font-size: 12px;
    border-radius: 3px;
    font-weight: 100;
    margin-left: 20px;
    cursor: pointer;
}

.setting__links{
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    text-transform: uppercase;
}

.__big__box{
    width: 1000px;
}

.__extra_box{
    width: 75%;
    display: flex;
}


.box__header{
    display: flex;
    padding-bottom:  20px;
}

.__title{
    text-align: right;
    margin-left: 20px;
    font-family: Poppins;
    font-weight: 200;
    text-transform: uppercase;
}
.__closed{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #d3d3d3;
    border-radius: 50px;
    margin-right: 30px;
    cursor: pointer;
}
.__closed i{
    font-weight: 100;
    color: #2e2e2e;
}

.box__body{
    border-top: 1px solid #ccc;
    padding: 10px;
}
.avatar__user{
    width: 150px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
}

.custom__input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc ;
    background: #f6f6f6;
    height: 45px;
    margin-bottom: 10px;
    outline: none;
    transition: all ease-in-out .5s;
}
.custom__input:focus{
    border-bottom: 1px solid #0a7bcb;
}

.__pay__card {
    text-align: center;
}
.__pay__card i{
    font-size: 60px;
}
.__pay__card i.fa-cc-visa:hover{
    color: #0a7bcb;
    transition: all ease-in-out .5s;
}

.__pay__card i.fa-cc-mastercard:hover{
    color: #f23232;
    transition: all ease-in-out .5s;
}

.about__ava__box{
    text-align: center;
}

.__trending{

}
.product__box__content{
    display: flex;
    width: 60%;
}


.__map__box{
    position: relative;
    margin-left: -100px !important;
}


.product__card{
    width: 33%;
}

.card__box{
    padding: 20px;
    cursor: pointer;
    border: 1px solid #dedede;
    margin: 5px;

}

.barber__star{
    margin-top: 10px;

}

.barber__box{
    margin: 10px 1px;
}
.barber__box img{
    width: 100%;
}

.fixed__content{
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.calendar__center{
    margin-top: 100px;
}

.confirm__booking{
    border-radius: 3px;
    padding: 20px 10px 10px 10px;
    border:  1px solid #e0e4ea;
}

.__pay__element{
    cursor: pointer;
}

.barber_user_box{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    border-radius: 3px;
}

.barber_user_box:hover{
     transform: scale(1.01);
    transition: all ease-in-out .5s;
}